* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
}

ul {
  list-style-type:none;
  margin : 0;
}
