.box_receive {
  max-width: 1296px;
  height: 274px;
  border-radius: 1.5rem;
  background-color: var(--orange); 
  /* opacity: 0.8; */
  margin: 0 auto;
  position: relative;
}

.text_box_receive h3 {
  color: #fff;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.div_input {
  position: relative;
  z-index: 3;
}

.input {
  width: 70%;
  margin-right: 2%;
}

.input img {
  width: 3.5%;
  position: absolute;
  left: 2rem;
  bottom: 67%;
  transform: translateY(-100%);
}

.input_button {
  width: 20%;
}

.input_submit {
  /* animation: doimau ease 1s infinite; */
}



.input input {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.input_submit {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--orange);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  animation: doimau ease 2s infinite;
}

@keyframes doimau{
  0% {
    background-color: blue;
    color: white;
  }
  25% {
    background-color: red;
    color: var(--primary);
  }
  75% {
    background-color: yellow;
    color: red;
  }
}

.input_submit ,input {
  outline: none;
  padding: 16px;
  border: navajowhite;
  background-color: #fff;
}

.bg_register {
  position: absolute;
    top: 0;
    width: 100%;
}